/* ============================================ */
/*                     .LOG                     */
/* ============================================ */
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

// not-user
.dot {
  position: relative;
  font-size: 2.4rem;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20px;

  &:hover {
    background: #00000016;
  }

  &:hover > * {
    visibility: visible;
    opacity: 1;
    transition: 0.5s 0s;
  }
}
.triangle {
  opacity: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 110%;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  transform: rotate(45deg);
  background: white;
  visibility: hidden;
  transition: 0.5s 1s all ease;
}

// is-user

.mess {
  position: relative;
  padding: 1rem;

  .numberIb {
    color: wheat;
  }
}

.icon-hover {
  color: black;
  padding: 0.5rem 0.8rem;
  background-color: #00000016;
  border-radius: 50px;
}

.avatar {
  position: relative;
  img {
    height: 50px;
    width: 50px;
    min-height: 30px;
    min-width: 50px;
    border-radius: 100rem;
    cursor: pointer;
  }
  &:hover > * {
    visibility: visible;
    opacity: 1;
    transition: 0.5s 0s;
  }
}
