:root {
  --width-search: 52px;
  --height-search: 46px;
}

.header {
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner-header {
  margin: auto;
  max-width: 1440px;
  padding: 7px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* ============================================ */
/*                    SEARCH                    */
/* ============================================ */
.search {
  height: 46px;
  padding: 0px 16px;
  padding-right: 0;
  border-radius: 92px;
  flex: 1;
  max-width: 361px;
  background: rgba(22, 24, 35, 0.06);

  display: flex;
  align-items: center;

  position: relative;
  border: 1.5px solid transparent;

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }

  input {
    height: 100%;
    flex: 1;
    max-width: 292px;
    padding-right: 40px;

    color: rgba(22, 24, 35, 1);
    caret-color: rgba(254, 44, 85, 1);
    background: transparent;

    &:not(:placeholder-shown) ~ .search-icon {
      color: #000;
    }

    &:not(:placeholder-shown) ~ .icon-load > span:nth-child(1) {
      visibility: visible;
    }
  }
}

.box {
  max-width: 361px;
  width: 100vw;
  margin: auto;
  padding: 5px 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
  min-height: 200px;
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
}

// .icon-load
.icon-load {
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(var(--width-search) + 16px);
    width: 16px;
    height: 16px;
    visibility: hidden;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }
}

// .search-icon
.search-icon {
  font-size: 2.4rem;
  width: var(--width-search);
  height: 44px;
  border-radius: 0 52px 52px 0;
  color: #ababb0;
  position: relative;

  &:hover {
    cursor: pointer;

    background: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background: rgba(6, 6, 9, 0.134);
  }
  &::before {
    width: 1px;
    height: 28px;
    top: 50%;
    right: 52px;
    background: #ababb0;
    transform: translateY(-50%);
    position: absolute;
    content: '';
  }
}

/* ============================================ */
/*                     .LOG                     */
/* ============================================ */
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.dot {
  position: relative;
  font-size: 2.4rem;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20px;

  &:hover {
    background: #00000016;
  }

  &:hover > * {
    visibility: visible;
    opacity: 1;
    // transform: scale(1);
  }
}
.triangle {
  opacity: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 110%;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  transform: rotate(45deg);
  background: white;
  visibility: hidden;
  transition: 0.5s all ease;
}
